 * {
    box-sizing: border-box;
}


body {
    background-image: url('./kepek/alap.jpg');
}
hr {
    height: 8px;
    background-color:#555555 ;
    border-radius: 8px;
    margin:auto;
    padding: 50px 0px
    border-radius: 20px;
    box-shadow: 5px 5px 0px;
}
h1,h3{
text-align:center;

}
.belso{
    width: 100%;
    padding-left: 50px;

}
img{ 
    width: 100px;
    float: right;
}